@font-face {
    font-family: Poppins;
    src: url(./assets/Poppins-Regular.ttf);
}

:root {
    --background: #242424;
    --text-color: #D9D9D9;
    --input-color: #3B3B3B;
    --danger-color: #ff4757;
    --success-color: #7bed9f;
}

* {
    font-family: Poppins;
    color: var(--text-color);
    text-align: center;
}

body {
    background-color: var(--background);
    margin: 0;
    display: flex;
    justify-content: center;
}

.tasks {
    list-style: none;
    padding: 0;
}

.input {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
} 

.btn {
    background-color: var(--input-color);
}

.btn--danger {
    background-color: var(--danger-color);
}

.btn--success {
    background-color: var(--success-color);
    color: var(--input-color);
}

.input-field {
    background-color: var(--input-color);
    text-align: left;
}

.task-item {
    width: 300px;
    display: flex;
    justify-content: right;
}

.task-item-text {
    text-align: right;
}